<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="navigate('home')">
        <ion-icon name="home-outline"></ion-icon>
       Home
      </ion-tab-button>
      <ion-tab-button tab="pokedex" (click)="navigate('pokedex')">
        <ion-icon name="bug-outline"></ion-icon>
        Pokédex
      </ion-tab-button>
      <ion-tab-button tab="favoritos" (click)="navigate('favoritos')">
        <ion-icon name="heart-outline"></ion-icon>
        Favoritos
      </ion-tab-button>
      <ion-tab-button tab="ajuda" (click)="navigate('ajuda')">
        <ion-icon name="help-outline"></ion-icon>
        Ajuda
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>