<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
       Home
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="bug-outline"></ion-icon>
        Pokédex
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="heart-outline"></ion-icon>
        Favoritos
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="help-outline"></ion-icon>
        Ajuda
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>